<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
            <img src="@Model.ImageUrl" alt class="w-px-40 h-auto rounded-circle" />
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="#">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                    </div>
                    <div class="flex-grow-1">
                        <span class="fw-semibold d-block">@Model.FullName</span>
                        <small class="text-muted">Admin</small>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a class="dropdown-item" href="/Profile/UserDetail/">
                <i class="bx bx-cog me-2"></i>
                <span class="align-middle">Ayarlar</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="/Profile/Logout/">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</li>