@model List<ReporterProject.EntityLayer.Entities.Article>

<div class="recent-posts-widget widget-item">

    <h3 class="widget-title">Son Makaleler</h3>
    @foreach (var item in Model)
    {
        <div class="post-item">
            <img src="@item.CoverImageUrl" alt="" class="flex-shrink-0">
            <div>
                <h4><a href="blog-details.html">@item.Title</a></h4>
                <time datetime="@item.CreatedDate.ToString("yyyy-MM-ddTHH:mm")">
                    @item.CreatedDate.ToString("dd MMM yyyy HH:mm")
                </time>

            </div>
        </div>
    }
    <!-- End recent post item-->

</div><!--/Recent Posts Widget -->
